---

---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clean Twitter Screenshots</title>
    <meta name="robots" content="noindex, follow" />
    <meta
      name="description"
      content="Twitter/X Screenshot template - create your Twitter/X screenshots without any noise."
    />
    <style>
      .fttext a {
        color: blue !important;
      }
      [x-cloak] {
        display: none;
      }
    </style>
  </head>
  <body
    class="bg-zinc-900 text-white min-h-[100svh] min-h-[100vh] flex justify-center items-center"
  >
    <span class="text-7xl">🔥 nothing here... 🔥</span>
  </body>
</html>
