---
import SettingsPanel from "../components/SettingsPanel.astro";
import Signature from "../components/signature.astro";
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clean Twitter Screenshots</title>
    <meta name="robots" content="index, follow" />
    <meta
      name="description"
      content="Twitter/X Screenshot template - create your Twitter/X screenshots without any noise."
    />
    <style>
      .fttext a {
        color: blue !important;
      }
      [x-cloak] {
        display: none;
      }
    </style>
  </head>
  <body
    class=""
    data-x-data="app"
    x-data="{ftname: '', fthandle: '', ftavatar: '', fttext: '', ftreplies: '69', ftretweets: '420', ftlikes: '1.337', ftstats: '31.415', ftbadge: 'ftbasic' }"
  >
    <div class="flex min-h-screen">
      <!-- TWEET -->
      <div
        class="flex flex-1 items-center justify-center bg-gradient-to-b from-purple-500 to-pink-500"
      >
        <div class="p-16">
          <div class="max-w-lg rounded-xl bg-white shadow-xl">
            <!-- TWITTER HEADER -->
            <div class="flex items-center px-6 py-4">
              <div class="mr-2">
                <img
                  :src="ftavatar"
                  class="block aspect-square h-12 w-full rounded-full object-cover"
                  alt=""
                  x-cloak
                  x-show="ftavatar"
                />
                <a href="https://webmanufaktur.net/" target="_blank">
                  <img
                    src="/images/profile_icon_2.jpg"
                    class="block h-12 w-12 rounded-full"
                    alt=""
                    x-cloak
                    x-show="!ftavatar"
                  /></a
                >
              </div>
              <div>
                <!-- HANDLE -->
                <span class="relative text-sm font-bold leading-tight">
                  <span x-text="ftname" x-cloak x-show="ftname"></span>
                  <span x-cloak x-show="!ftname">
                    <a href="https://abelt.de/" target="_blank"
                      >Alexander Abelt</a
                    >
                  </span>

                  <!-- Verified -->
                  <svg
                    viewBox="0 0 22 22"
                    aria-label="Verified account"
                    role="img"
                    class="absolute -right-[22px] -top-1 h-5 w-5 text-[#1da1f2]"
                    fill="currentColor"
                    x-cloak
                    x-show="ftbadge == 'ftverified'"
                  >
                    <g>
                      <path
                        d="M20.396 11c-.018-.646-.215-1.275-.57-1.816-.354-.54-.852-.972-1.438-1.246.223-.607.27-1.264.14-1.897-.131-.634-.437-1.218-.882-1.687-.47-.445-1.053-.75-1.687-.882-.633-.13-1.29-.083-1.897.14-.273-.587-.704-1.086-1.245-1.44S11.647 1.62 11 1.604c-.646.017-1.273.213-1.813.568s-.969.854-1.24 1.44c-.608-.223-1.267-.272-1.902-.14-.635.13-1.22.436-1.69.882-.445.47-.749 1.055-.878 1.688-.13.633-.08 1.29.144 1.896-.587.274-1.087.705-1.443 1.245-.356.54-.555 1.17-.574 1.817.02.647.218 1.276.574 1.817.356.54.856.972 1.443 1.245-.224.606-.274 1.263-.144 1.896.13.634.433 1.218.877 1.688.47.443 1.054.747 1.687.878.633.132 1.29.084 1.897-.136.274.586.705 1.084 1.246 1.439.54.354 1.17.551 1.816.569.647-.016 1.276-.213 1.817-.567s.972-.854 1.245-1.44c.604.239 1.266.296 1.903.164.636-.132 1.22-.447 1.68-.907.46-.46.776-1.044.908-1.681s.075-1.299-.165-1.903c.586-.274 1.084-.705 1.439-1.246.354-.54.551-1.17.569-1.816zM9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z"
                      ></path>
                    </g>
                  </svg>

                  <!-- Advertiser -->
                  <svg
                    viewBox="0 0 22 22"
                    x-cloak
                    x-show="ftbadge == 'ftadvertiser'"
                    aria-label="Verifizierter Account"
                    role="img"
                    class="absolute -right-[22px] -top-1 h-5 w-5 text-[#1da1f2]"
                    data-testid="icon-verified"
                  >
                    <g>
                      <linearGradient
                        gradientUnits="userSpaceOnUse"
                        id="2-a"
                        x1="4.411"
                        x2="18.083"
                        y1="2.495"
                        y2="21.508"
                      >
                        <stop offset="0" stop-color="#f4e72a"></stop>
                        <stop offset=".539" stop-color="#cd8105"></stop>
                        <stop offset=".68" stop-color="#cb7b00"></stop>
                        <stop offset="1" stop-color="#f4ec26"></stop>
                        <stop offset="1" stop-color="#f4e72a"></stop>
                      </linearGradient>
                      <linearGradient
                        gradientUnits="userSpaceOnUse"
                        id="2-b"
                        x1="5.355"
                        x2="16.361"
                        y1="3.395"
                        y2="19.133"
                      >
                        <stop offset="0" stop-color="#f9e87f"></stop>
                        <stop offset=".406" stop-color="#e2b719"></stop>
                        <stop offset=".989" stop-color="#e2b719"></stop>
                      </linearGradient>
                      <g clip-rule="evenodd" fill-rule="evenodd">
                        <path
                          d="M13.324 3.848L11 1.6 8.676 3.848l-3.201-.453-.559 3.184L2.06 8.095 3.48 11l-1.42 2.904 2.856 1.516.559 3.184 3.201-.452L11 20.4l2.324-2.248 3.201.452.559-3.184 2.856-1.516L18.52 11l1.42-2.905-2.856-1.516-.559-3.184zm-7.09 7.575l3.428 3.428 5.683-6.206-1.347-1.247-4.4 4.795-2.072-2.072z"
                          fill="url(#2-a)"></path>
                        <path
                          d="M13.101 4.533L11 2.5 8.899 4.533l-2.895-.41-.505 2.88-2.583 1.37L4.2 11l-1.284 2.627 2.583 1.37.505 2.88 2.895-.41L11 19.5l2.101-2.033 2.895.41.505-2.88 2.583-1.37L17.8 11l1.284-2.627-2.583-1.37-.505-2.88zm-6.868 6.89l3.429 3.428 5.683-6.206-1.347-1.247-4.4 4.795-2.072-2.072z"
                          fill="url(#2-b)"></path>
                        <path
                          d="M6.233 11.423l3.429 3.428 5.65-6.17.038-.033-.005 1.398-5.683 6.206-3.429-3.429-.003-1.405.005.003z"
                          fill="#d18800"></path>
                      </g>
                    </g>
                  </svg>

                  <!-- Official -->
                  <svg
                    viewBox="0 0 22 22"
                    x-cloak
                    x-show="ftbadge == 'ftofficial'"
                    aria-label="Verifizierter Account"
                    role="img"
                    class="absolute -right-[22px] -top-1 h-5 w-5 text-[#1da1f2]"
                    data-testid="icon-verified"
                  >
                    <g>
                      <path
                        clip-rule="evenodd"
                        d="M12.05 2.056c-.568-.608-1.532-.608-2.1 0l-1.393 1.49c-.284.303-.685.47-1.1.455L5.42 3.932c-.832-.028-1.514.654-1.486 1.486l.069 2.039c.014.415-.152.816-.456 1.1l-1.49 1.392c-.608.568-.608 1.533 0 2.101l1.49 1.393c.304.284.47.684.456 1.1l-.07 2.038c-.027.832.655 1.514 1.487 1.486l2.038-.069c.415-.014.816.152 1.1.455l1.392 1.49c.569.609 1.533.609 2.102 0l1.393-1.49c.283-.303.684-.47 1.099-.455l2.038.069c.832.028 1.515-.654 1.486-1.486L18 14.542c-.015-.415.152-.815.455-1.099l1.49-1.393c.608-.568.608-1.533 0-2.101l-1.49-1.393c-.303-.283-.47-.684-.455-1.1l.068-2.038c.029-.832-.654-1.514-1.486-1.486l-2.038.07c-.415.013-.816-.153-1.1-.456zm-5.817 9.367l3.429 3.428 5.683-6.206-1.347-1.247-4.4 4.795-2.072-2.072z"
                        fill="#829aab"
                        fill-rule="evenodd"></path>
                    </g>
                  </svg>
                </span>
                <span class="flex text-sm leading-tight text-gray-500">
                  @
                  <span x-text="fthandle" x-cloak x-show="fthandle"></span>
                  <span x-cloak x-show="!fthandle">
                    <a href="https://x.com/acabelt" target="_blank">acabelt</a>
                  </span>
                </span>
              </div>
            </div>

            <!-- END TWITTER HEADER -->
            <div class="px-6 text-[15px]">
              <div
                class="tweet prose prose prose-a:text-blue-600 prose-img:w-full leading-tight"
              >
                <span
                  x-html="fttext"
                  class="break-words"
                  x-cloak
                  x-show="fttext"></span>
                <div x-cloak x-show="!fttext" class="leading-relaxed">
                  I needed clean <strong>Twitter/X</strong> screenshots so I
                  built this.
                  <br />
                  <br />
                  <strong>Create a Twitter Screenshot Template:</strong>
                  <br />
                  <a
                    href="https://twitter-screenshot.webmanufaktur.net/"
                    target="_blank"
                    style="font-weight: 500; text-decoration: underline; color: blue;"
                    >https://twitter-screenshot.webmanufaktur.net/</a
                  >

                  <br />
                   Play around. Have fun!<br />

                  <br />
                  <strong
                    ><a href="https://astro.build/" target="_blank">Astro</a> +
                    <a href="https://alpinejs.dev/" target="_blank">AlpineJS</a>
                     = 💙</strong
                  >
                </div>
              </div>
            </div>

            <div class="flex items-center gap-12 p-6">
              <div class="flex text-gray-500">
                <div>
                  <svg
                    viewBox="0 0 24 24"
                    class="mr-1 block h-5 w-5"
                    fill="currentColor"
                  >
                    <g>
                      <path
                        d="M1.751 10c0-4.42 3.584-8 8.005-8h4.366c4.49 0 8.129 3.64 8.129 8.13 0 2.96-1.607 5.68-4.196 7.11l-8.054 4.46v-3.69h-.067c-4.49.1-8.183-3.51-8.183-8.01zm8.005-6c-3.317 0-6.005 2.69-6.005 6 0 3.37 2.77 6.08 6.138 6.01l.351-.01h1.761v2.3l5.087-2.81c1.951-1.08 3.163-3.13 3.163-5.36 0-3.39-2.744-6.13-6.129-6.13H9.756z"
                      ></path>
                    </g>
                  </svg>
                </div>
                <div class="text-sm" x-text="ftreplies"></div>
              </div>

              <div class="flex text-gray-500">
                <div>
                  <svg
                    viewBox="0 0 24 24"
                    class="mr-1 block h-5 w-5"
                    fill="currentColor"
                  >
                    <g>
                      <path
                        d="M4.75 3.79l4.603 4.3-1.706 1.82L6 8.38v7.37c0 .97.784 1.75 1.75 1.75H13V20H7.75c-2.347 0-4.25-1.9-4.25-4.25V8.38L1.853 9.91.147 8.09l4.603-4.3zm11.5 2.71H11V4h5.25c2.347 0 4.25 1.9 4.25 4.25v7.37l1.647-1.53 1.706 1.82-4.603 4.3-4.603-4.3 1.706-1.82L18 15.62V8.25c0-.97-.784-1.75-1.75-1.75z"
                      ></path>
                    </g>
                  </svg>
                </div>
                <div class="text-sm" x-text="ftretweets"></div>
              </div>
              <div class="flex text-gray-500">
                <div>
                  <svg
                    viewBox="0 0 24 24"
                    class="mr-1 block h-5 w-5"
                    fill="currentColor"
                  >
                    <g>
                      <path
                        d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"
                      ></path>
                    </g>
                  </svg>
                </div>
                <div class="text-sm" x-text="ftlikes"></div>
              </div>

              <div class="flex text-gray-500">
                <div>
                  <svg
                    viewBox="0 0 24 24"
                    class="mr-1 block h-5 w-5"
                    fill="currentColor"
                  >
                    <g>
                      <path
                        d="M8.75 21V3h2v18h-2zM18 21V8.5h2V21h-2zM4 21l.004-10h2L6 21H4zm9.248 0v-7h2v7h-2z"
                      ></path>
                    </g>
                  </svg>
                </div>
                <div class="text-sm" x-text="ftstats"></div>
              </div>

              <div class="flex text-gray-500">
                <div>
                  <svg
                    viewBox="0 0 24 24"
                    class="mr-1 block h-5 w-5"
                    fill="currentColor"
                  >
                    <g>
                      <path
                        d="M12 2.59l5.7 5.7-1.41 1.42L13 6.41V16h-2V6.41l-3.3 3.3-1.41-1.42L12 2.59zM21 15l-.02 3.51c0 1.38-1.12 2.49-2.5 2.49H5.5C4.11 21 3 19.88 3 18.5V15h2v3.5c0 .28.22.5.5.5h12.98c.28 0 .5-.22.5-.5L19 15h2z"
                      ></path>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <SettingsPanel />
    </div>
    <Signature />
  </body>
</html>
