---

---

<div class="p-8 text-black">
  <a
    href="https://webmanufaktur.net/"
    title="webmanufaktur | websites + seo"
    target="_blank"
    ><svg
      width="1273"
      height="918"
      viewBox="0 0 1273 918"
      fill="currentColor"
      class="h-auto w-6"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1099.01 918V497.332L836.106 870.387L809.978 914.376L599.934 391.871L355.135 916.792L0 0H203.997L377.986 510.523L512.382 173.766L442.782 0H615.559L813.542 490.149L850.969 580.353L1270.61 0H1273V918H1099.01Z"
        fill="currentColor"></path>
    </svg>
  </a>
</div>
